name: Continuous integration

on:
  push:

env:
  PYTHON_VERSION: "3.12.4"
jobs:
  Run-tests:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Setup Python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
